<body id="project" xmlns="http://www.w3.org/1999/html">

  <div class="work case-study">
    <section>
      <article>
        <a href="http://player.vimeo.com/video/89052101?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
           rel="shadowbox;player=iframe;width=720;height=405" onclick="return true;">
          <%= image_tag("portfolio/fuze_4.png", :alt => "Fuze", :class => "img_button") %>
        </a>a>

        <h1>Revamping The Fuze User Experience</h1>

        <p>
          Our team revamped Fuze, a platform specializing in the future of the workplace. With Fuze, employers empower
          their distributed workforce through telecommunications, project collaboration and more. The project was a
          massive undertaking, spanning desktop, mobile, tablet, and responsive web. We began with understanding the
          workplaces and employees that currently used the product. We conducted remote and onsite research with
          clients like Evernote, AstraZeneca, and Ogilvy. We wanted to understand how they worked, how they used the
          tool and any pain points. We also embedded ourselves into internal sales and success departments to get
          insights from the front lines.
        </p>

        <%= image_tag("portfolio/sketch_1.jpg", :alt => "Fuze") %>

        <h3>Finding Problems and Working Toward Solutions</h3>

        <p>While we found many improvement opportunities, we devoted our attention to key experiences. In
          telecommunications we found a recurring theme: “the join process isn't intuitive". For hosts, we found
          significant time was spent troubleshooting and assisting new attendees. A customer survey confirmed this
          pain point and the solution design process began. After sketches, we then graduated to paper prototypes and
          hallway testing non-power users. After iterating internally, we tested externally with new users with
          clickable prototypes. We iterated between every few tests and learned a lot.
        </p>

        <%= image_tag("portfolio/fuze_2.jpg", :alt => "Fuze") %>

        <p>
          We arrived at the "Green Room". Fuze's new join process that aimed to be intuitive, comfortable, and fast.
          Using smart defaults, we started users with the best settings for productive meetings. Adjusting settings
          from that default is simple. And if necessary, the user moving the meeting to a mobile device was seamless --
          great for on the go.
        </p>

        <p>
          The Green Room also tackled another pain point for our users: video call discomfort. Using the Green Room,
          they had an in-between state to do what we all want to do before appearing on camera: Do I look OK? Is my
          audio working? How do I sound? After launch, we found an increase in video-based meetings from 40% to 67%.
          User meeting satisfaction also increased, stemming from an increase in face-to-face interaction.
        </p>

        <%= image_tag("portfolio/fuze_5.jpg", :alt => "Fuze") %>

        <h3>Streamlining Processes</h3>
        <p>
          Fuze itself was a distributed workforce with teams located across various time zones. With this in mind, our
          design team worked to ensure the design held up across teams. We worked to improve dev/design communication
          -- essential with so many platform teams. We adopted a workflow that was in line with how they worked --
          working in their tools on their sprint schedules. Together, we created and iterated on a design wiki. The
          wiki communicated style, functionality, and intention to development teams. Devs could now easily locate
          all information for a component: states, assets, style, etc.
        </p>


        <h3>Browser Experience</h3>

        <p>
          I also helped lead the charge on a rich web-based experience. Using cutting edge technology, we allowed
          conferencing to happen in browser. This meant no wait times or heavyweight downloads, a key to getting
          ttendees in fast.
        </p>

        <%= image_tag("portfolio/fuze_3.jpg", :alt => "Fuze") %>

        <p>
          Shortly after the launch of the "new Fuze", the company was acquired, a testament to the work of the entire team.
        </p>
      </article>
    </section>
  </div>
  <footer>
    <div class="previous">
      <a href="../../index.html#portfolio">See All Projects</a>
    </div>
    <div class="contact">
      <h1>Want to hear more about this project?</h1>
      <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
        <button>Let's Connect</button>
      </a>
    </div>
    <div class="next">
      <a href="vulume.html">See Next Project</a>
    </div>
  </footer>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>