<body id="project" xmlns="http://www.w3.org/1999/html">

  <div class="work case-study">
    <header class="htf">
      <div class="info">
        <%= image_tag '/images/clients/htf.svg' %>
        <h2>Working with Other Designers, Developers, and Educators to Inspire the Future Makers of Tomorrow.</h2>
      </div>
      <div class="play">
        <a href="http://player.vimeo.com/video/38879378?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
           rel="shadowbox;player=iframe;width=720;height=405" onclick="return true;">
          <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g id="play">
              <path fill="#CF5A60" d="M50.002,3.162c-25.826,0-46.835,21.009-46.835,46.841c0,25.826,21.009,46.835,46.835,46.835
      s46.83-21.009,46.83-46.835C96.832,24.171,75.828,3.162,50.002,3.162z M50.002,86.871c-20.36,0-36.875-16.508-36.875-36.868
      c0-20.369,16.515-36.874,36.875-36.874c20.361,0,36.873,16.505,36.873,36.874C86.875,70.363,70.363,86.871,50.002,86.871z"/>
              <path fill="#CF5A60" d="M40.563,34.64c-0.829-0.833-2.949-0.833-2.949,0v33.844c0,0.834,2.125,0.834,2.957,0l27.781-15.416
      c0.832-0.829,0.847-2.178,0.017-3.01L40.563,34.64z"/>
            </g>
          </svg>
        </a>
      </div>

    </header>
    <div class="details">
      <section>
        <article>
          <%= image_tag("portfolio/htf7.png", :alt => "Vulume") %>

          <p>
            Hack the Future is a one-day party and self-directed hackathon for future hackers in grades 5-12.  It’s a
            unique opportunity to learn modern software and hardware design and engineering from mentors in Bay Area
            startups and large and small companies. My task was to create branding around the event, and to design and
            develop its web presence.
          </p>

          <%= image_tag("portfolio/htf5.png", :alt => "Vulume") %>

          <h3>Discovering the Audience</h3>

          <p>
            It all began by meeting with Hack the Future founders and volunteers to get insight on the brand. I wanted
            to find the core of what Hack the Future was, who the audience was, and what the goals of the brand and the
            website were. There were three major audience groups and the website had to serve each. First were the
            parents who, more than their children. were visiting the site; their goals were to get introduced to Hack
            the Future. Maybe they heard about it from another parent, the school, or children and they wanted to get a
            little more info. Then, they needed to know the date of the next event and how to register their child. The
            next user group were the volunteers. Their goal was to find information on what was required of volunteers
            and how they could sign up. The  third group were Hack the Future sponsors who needed to understand why they
            were needed and be directed to how they could get involved. The solution was to right away cover the most
            essential information: You're in the right place and here's the next event. We then provided top-level links
            to guide sponsors and volunteers to the info they needed without too much effort. The result was a website
            that handled the presentation of varied information to a diverse audience group and helped them to move
            toward their goals while providing a fun experience through a revised brand: something that appealed to
            both kids and adults that was fresh, entertaining, and full of life, while focused on creating and on
            technology.
          </p>

          <%= image_tag("portfolio/htf2.png", :alt => "Vulume") %>

          <h3>Fostering a Love of Design in the Designers of Tomorrow</h3>

          <p>
            The most rewarding part of working with Hack the Future are the quarterly hackathons. They are fun parties
            where kids get to explore a lot of different topics like game development, 3d printing, creating websites,
            robotics, electronics, and the like. In addition to work behind the scenes, my work with Hack the Future
            also involved planning the curriculum and coming up with cool, fun things to do to get kids excited about
            design. Using art supplies and other assorted odds and ends, we created a prototyping station that kids
            could use to discover a problem, idealize solutions, prototype, test their solutions, iterate, and
            ultimately present their designs in front of their parents and peers. It's an exciting event and I am
            always surprised by the amazing things the kids come up with. I usually work with a team of design students
            from colleges across the Bay to wrangle the kids and ask them the questions needed to develop ideas fully:
            it's slyly educational and loved by all involved.
          </p>

          <%= image_tag("portfolio/htf8.jpg", :alt => "Vulume") %>
          <p>
            Above, young Audrey is running through some user testing of her iOS app, "Bike Age," a game that improves
            over time as your cycling skill increases. </p>

          <%= image_tag("portfolio/htf9.jpg", :alt => "Vulume") %>
          <p>
            Michael shows true promise in using design thinking for problem solving. The problem: "How can we keep food
            warm throughout a meal." His solution is a self-heating plate with compartments allowing for varying food
            temperatures and double wall construction and handles to prevent burns. Here he is presenting his sketch and
            early physical prototype.
          </p>

          <%= image_tag("portfolio/htf6.jpg", :alt => "Vulume") %>
          <p>
            Throughout the day, the walls of the Tech Museum filled up with designs for websites, apps, games, and
            product design prototypes made by the kids. It provided a basis for kids to show off their work, see what
            others have done, and inspire creation and the spirit of thinking and creating for all.
          </p>

        </article>
      </section>
    </div>

    <footer>
      <div class="previous">
        <a href="../../index.html#portfolio">See All Projects</a>
      </div>
      <div class="contact">
        <h1>Want to hear more about this project?</h1>
        <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
          <button>Let's Connect</button>
        </a>
      </div>
      <div class="next">
        <a href="exumit.html">See Next Project</a>
      </div>
    </footer>

  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
+ '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>