<body id="project" xmlns="http://www.w3.org/1999/html">

  <div class="work case-study">
    <div class="details">
      <section>
        <article>
          <a href="http://player.vimeo.com/video/38879378?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
             rel="shadowbox;player=iframe;width=720;height=405" onclick="return true;">

            <%= image_tag("portfolio/htf7.png", :alt => "Vulume", :class => "img_button") %>
          </a>
            <h1>Working to Inspire the Makers of Tomorrow</h1>
            <p>
              Hack the Future is a one-day self-directed party for future hackers in grades 5-12. It’s a unique
              opportunity to learn design and development from Bay Area mentors.

          </p>

          <%= image_tag("portfolio/htf5.png", :alt => "Vulume") %>

          <h3>Discovering the Audience</h3>

          <p>
            I am a mentor at HTF and also help with branding and web presence. At first, I met with Hack the Future
            founders and volunteers to get insight into the organization. Who is their audience, what are their goals,
            and what do they stand for? There were three major audience groups and the website had to serve each. First
            were the parents who, more than their children, were visiting the site. Their goals were to get more
            information, find the next event, and secure a spot. Next were volunteers and sponsors, who wanted to know
            how to donate time or resources. Using those goals, we designed a page that described their mission and
            next event on one page. We then provided top-level links to guide sponsors and volunteers to get involved.
            The brand was refreshed and appealed to both kids and adults while staying focused on tech.
          </p>

          <%= image_tag("portfolio/htf2.png", :alt => "Vulume") %>

          <h3>Fostering a Love of Design in the Makers of Tomorrow</h3>

          <p>
            The most rewarding part of working with Hack the Future are the events. Kids can explore topics like game
            dev, 3D printing, design, robotics, electronics, coding, etc. I help get kids excited about design. With
            assorted odds and ends and art supplies, we create a prototyping station. Kids have identified problems,
            ideated, and prototyped some pretty amazing things. We help them test their solutions with parents and peers.
          </p>

          <%= image_tag("portfolio/htf8.jpg", :alt => "Vulume") %>
          <p>
            Above, Audrey runs through some user tests of her iOS app "Bike Age", a game that improves over time as
            your cycling skill increases.
          </p>

          <%= image_tag("portfolio/htf9.jpg", :alt => "Vulume") %>
          <p>
            Michael uses design thinking to solve the problem: "How can we keep food warm throughout a meal?" His
            solution is a self-heating plate with compartments allowing for varying food temperatures. Double wall
            construction and handles help prevent burns. Here, he is presenting his sketch and early physical prototype.
          </p>

          <%= image_tag("portfolio/htf6.jpg", :alt => "Vulume") %>
          <p>
            Here, the walls of the Tech Museum fill with designs for websites, apps, games, and more made by the kids.
          </p>

        </article>
      </section>
    </div>

    <footer>
      <div class="previous">
        <a href="../../index.html#portfolio">See All Projects</a>
      </div>
      <div class="contact">
        <h1>Want to hear more about this project?</h1>
        <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
          <button>Let's Connect</button>
        </a>
      </div>
    </footer>

  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
+ '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>