<body id="project" xmlns="http://www.w3.org/1999/html">

  <div class="work case-study">
    <header class="vulume">
      <div class="info">
        <h1><a href="http://www.vulume.com">Vulume</a></h1>
        <h2>A project collaboration, sharing, and discovery tool for the Built Environment. Transforming the way
          architects, contractors, and designers collaborate. </h2>
      </div>
    </header>
    <div class="details"
      <section>
        <article>
          <a href="#" rel="shadowbox">Video Link</a>

          <%= image_tag("portfolio/vulume_3.png", :alt => "Vulume") %>

          <p> Vulume enables professionals, companies, governments, students, homeowners and other individuals to simplify their workflow,
            improve communication, and ultimately increase efficiency and productivity on projects. The growing Vulume
            community connects architects, designers, builders, clients, and customers around the world and promotes the
            sharing of ideas.
          </p>

          <%= image_tag("portfolio/vulume_2.png", :alt => "Vulume") %>

          <h3>Problem Solving. We're on the Case!</h3>

          <p>Right away we kept hearing similar feedback. The "join process isn't intuitive", "we're ending up having to
            troubleshoot and walkthrough people we invite who are using fuze for the first time". A customer survey confirmed
          this painpoint and the design thinking process began. We iterated fast -- sketching at first and looking at them
            cross teams, then graduating to paper prototypes and lofi testing with internal user. Once we had a path we
            felt might work we recruited users from our target user groups (based on created personas) and began watching
            them use digital prototypes. We learned a lot.</p>

          <%= image_tag("portfolio/vulume_5.png", :alt => "Vulume") %>

          <p>What we ended up implementing was the Fuze Green Room. A place that was so easy it's didn't require coaching.
            It defaulted to the primary best settings for productive meetings - HD quality video on and VoIP on and projecting
            the audio. Adjusting the settings are simple as a tap of click and moving to phone for audio was a click away.
            What's more is it helped to tackle another pain point for our users -- the resistance to being on video. Using
            the green room they had an in between state to do what we all want to do before hopping onto camera; do I look
            ok, is my audio working, how do I sound?  It didn't end there, after implementation we examined how the piece
            fit in holistically with the rest of the app, we looked at how we would adapt what we learned onto not just
            desktop platforms but to touch devices as well and also what happens when we're implementing on platforms
            with much more restrictions on what could be done (as in the case of our browser client). </p>

          <%= image_tag("portfolio/vulume_4.png", :alt => "Vulume") %>

          <h3>Streamlining Process</h3>
          <p>
            Being a complex and rich application being developed by many teams located across the world lead to another major hurdle.
            How do we ensure the design is implemented correctly and how do we communicate our designs functionality and look and feel
            to developers. After a few design brainstorms and worky closing with devs and a lot of trial and error we created the internal Fuze design wiki.
            Using it developer could locate the full functionality of a feature, including viewing deltas between iterations
            and see completely, every state, every icon name, and callouts on how they could recreate correctly in code.
            We also made ourselves completely available to devs, have a question at anytime and we're there to respond.
            Unsure what a feature involved. Let's get the team together and do a quick walkthrough and Q&A session. Does the
            design not work from a dev perspective? Let's get together and find out how we can accomplish our goals given
            new dev restrictions. It was hugely collaborative time in the company and continues to be the way we do things
            long after the apps were shipped.
          </p>

          <%= image_tag("portfolio/vulume_6.png", :alt => "Vulume") %>
          <h3>Browser Experience</h3>

          <p>Vulume is in public beta and is already enabling professionals, companies, governments, students, homeowners and other individuals to simplify their workflow,
            improve communication, and ultimately increase efficiency and productivity on projects. The growing Vulume
            community connects architects, designers, builders, clients, and customers around the world and promotes the
            sharing of ideas.
          </p>
        </article>
      </section>
    </div>
  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
+ '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>