<body id="project" xmlns="http://www.w3.org/1999/html">

  <div class="work case-study">
      <div class="details">
      <section>
        <article>
          <a href="http://player.vimeo.com/video/79527830?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
             rel="shadowbox;player=iframe;width=720;height=405" onclick="return true;">
            <%= image_tag("portfolio/vulume_2.png", :alt => "Vulume", :class => "img_button") %>
          </a>
          <h1>Transforming How Architects, Contractors, and Designers collaborate.</h1>
          <p>
            Vulume's founder approached with a project from the world of architecture. He envisioned a digital tool to
            improve and streamline architectural projects. Basecamp for architects and designers. One where contractors
            and clients could work collaboratively. One that scaled from simple interiors to large-scale commercial
            construction.
          </p>

          <%= image_tag("portfolio/vulume_7.png", :alt => "Vulume") %>

          <h3>The Heart of the Matter</h3>

          <p>
            We needed to know how architects and designers work with their team, contractors, and team. By interviewing
            users and internal experts we started learning how the process worked. The approach was mostly unchanged for
            decades. The built environment relies on physical blueprints, printouts. Getting a project done requires
            endless emails, calls, and meetings. The process slow and approval process delayed. There was room for
            improvement. But how could we take a physical process and translate it digitally? We began the process.
          </p>


          <%= image_tag("portfolio/vulume_5.png", :alt => "Vulume") %>

          <h3>Everything in One Place</h3>

          <p>
            We built Vulume as a built environment collaboration app. In it, we added role-based visibility. This helped
            ensure teams, contractors, and architects had access to what was relevant. Besides varying roles, we added
            differences in project types public vs private.  Each had different goals. Public projects are like
            open-source projects for software developers. Project type aside, both had to be easy to. A user shaw
            greeted with their timeline displaying important user actions. This made referencing recent document like
            contracts or photos much easier. Favorites based on frequent regular use; i.e. these types of tile,
            finishes, etc... Photos are added to projects allowing clients the ability to view them asynchronously and
            comment.
          </p>


          <%= image_tag("portfolio/vulume_4.png", :alt => "Vulume") %>

          <h3>Bringing the Idea of Open Source and Discovery to the Architectural Community</h3>

          <p>
            On public projects, followers see the creation and evolution of a project. Other users can find architects
            to communicate and collaborate with. They can view their work, comment, share, and get ideas for their own
            projects. Discovery made simpler through smart tagging, browsing categories, and powerful search. Vulume's
            chrome extension experience we built let users capture inspiration from anywhere.
          </p>


          <%= image_tag("portfolio/vulume_6.png", :alt => "Vulume") %>

          <h3>Used by Professionals Worldwide</h3>

          <p>
            Vulume helps users simplify their workflow, improve communication, and increase efficiency. Their community
            connects architects, designers, contractors, and clients around the world sharing ideas.
          </p>
        </article>
      </section>
    </div>

    <footer>
      <div class="previous">
        <a href="../../index.html#portfolio">See All Projects</a>
      </div>
      <div class="contact">
        <h1>Want to hear more about this project?</h1>
        <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
          <button>Let's Connect</button>
        </a>
      </div>
      <div class="next">
        <a href="htf.html">See Next Project</a>
      </div>
    </footer>

  </div>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
+ '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>