<body>
  <div id="root" class="section1 content area">
    <div class="intro">
      <header>
          <div class="title">
            <%= image_tag '/images/circleme-y.png', class: "me in a circle frame" %>
            <div class="line-one"><h1>Hello,<strong> I'm Richard Enlow</strong></h1></div>
            <div class="line-two"><h2>A San Francisco based UX/UI Designer</h2></div>
          </div>
      </header>
      <div class="bio">
        <p>I'm specialised in Product Design, UI Design, UX Design, and Interaction with a firm foot in Visual Design and
          Front End Web Development (there is nothing more fulfilling than taking a mockup and coding it pixel-perfectly!).
          My passions are designing slick interfaces, frictionless user interaction, and adventure. I revel in the process and
          deliver top-notch, highly-accessible designs that look great and are easy to use.</p>

        <p>In my spare time, you can find me at shows (I'm a huge music fan) or chaperoning my dog
          <a href="http://instagram.com/ohiathedog" target="_blank"> (she's a party animal)</a></p>
      </div>
    </div>
  </div>

  <a name="a_resume"></a>
  <div id="resume" class="section2 content area">

    <div class="title">
    </div>

    <div class="work">
      <h2 class="bar">Experience</h2>
      <section>

        <article>
          <h3><strong>UX/UI Design Lead</strong> at <em><a href="http://www.fuze.com" target="_blank">Fuze</a></em></h3>
          <span class="subheader">Sept 2013 - Present</span>
          <p>Taking a passion for seamless user interaction and beautiful user interfaces to help produce
            the next generation of collaboration products. I lead the the design and experience for
            for desktop platforms (Mac and Windows) and for the rich HTML5 web client.</p>
        </article>

        <article>
          <h3><strong>Designer and Mentor</strong> at <em><a href="http://http://hackthefuture.org/" target="_blank">Hack The Future</a></em></h3>
          <span class="subheader">2012 - Present</span>

          <p>I'm working to get kids excited about design, design thinking, and process!</p>
        </article>

        <article>
          <h3><strong>Pro-Bono Designer</strong> at <em><a href="http://www.taprootfoundation.org/" target="_blank">Taproot Foundation</a></em></h3>
          <span class="subheader">2012 - Present</span>

          <p>Taproot is a nonprofit organization that makes business talent available to organizations working to improve society.</p>
        </article>

        <article>
          <h3><strong>Design Co-Founder</strong> at <em><a href="http://www.amoe.ba" target="_blank">Amoeba Consulting</a></em></h3>
          <span class="subheader">Oct 2012 - Sept 2013</span>
          <p>I played a key role throughout a client's product development cycle from initial rapid-prototyping
            through pixel-perfect implementation. By using best-practices in UX, UI, and Visual Design and cutting-edge
            frontend implementation -- I assisted clients to build out their products. By conceptualizing and testing the
            interaction between users and products I helped them to make products users don't have to think about.</p>
        </article>

        <article>
          <h3><strong>Senior Designer</strong> at <em>TI Media</em></h3>
          <span class="subheader">Feb 2010 - Nov 2012</span>

          <p>Created and maintained layout and content on multiple consumer facing websites for mid-sized multinational with locations
            in San Francisco, New York, London, and Paris. Additionally, through online marketing efforts, I overhauled the company's email
            marketing presence, significantly increasing reach and click through rate. </p>
        </article>

        <article>
          <h3><strong>Senior Designer</strong> at <em>Keiser Corp</em></h3>
          <span class="subheader">Sep 2005 - Jan 2009</span>
          <p>My first job right out of school and I wore many design hats -- from creation of print, multimedia, web, advertising,
            promotional, to customer support materials. Owned products; from initial creation, vendor acquisitions, print specification,
            prepress preparation, production, to distribution. Established and evolved design and branding; to increase
            market position, generate leads, and facilitate sales.</p>
        </article>

      </section>
    </div>

    <div class="education">
      <h2 class="bar">Training</h2>
      <section>

        <article>
          <h3><strong>UX Master Certification</strong> at <em><a href="http://www.nngroup.com/" target="_blank">Nielsen Norman Group</a></em></h3>
          <span class="subheader">In Progress</span>
          <p>Specialised in Interactive Design with current coursework including; Core UI Tenants, Web and Desktop
            Application Design, and Lean UX and Agile for Designers. </p>
        </article>

        <article>
          <h3><strong>Front End Web Development</strong> at <em><a href="https://generalassemb.ly/" target="_blank">General Assembly</a></em></h3>
          <span class="subheader">2013</span>
          <p>Learned to design and code responsive, interactive websites in HTML, CSS and JavaScript.
            Worked toward mastering technical vocabulary to communicate ideas to teammates and stakeholders.
            Included computational thinking, working with APIs, and event driven development using
            JQuery.</p>
        </article>

        <article>
          <h3><strong>Design Thinking Action Lab</strong> at <em>Hasso Plattner - Institute of Design at Stanford</em></h3>
          <span class="subheader">2013</span>

          <p>Explored generating a range of ideas for products through the ideation process and further explored key ideas
            through prototyping which was used to conduct testing, and to generate feedback for purposes of improvement through iteration. </p>
        </article>

        <article>
          <h3><strong>User Research</strong> at <em><a href="https://generalassemb.ly/" target="_blank">General Assembly</a></em></h3>
          <span class="subheader">2013</span>

          <p>A comprehensive hands-on course on User Research training including the initial stages of planning a User
            Research study and finding / qualifying participants. Conducting User Research tests including usability studies,
            diary studies, user interviews and more. Compiling and analyzing data to pull out findings and
            design concepts to present what was learned.
          </p>
        </article>

        <article>
          <h3><strong>Design - Visual and Web</strong> at <em>C.I.T.</em></h3>
          <span class="subheader">2005</span>

          <p>  Courses Include: Web and Multimedia Concepts, Fundamentals of Design, Design Software Applications, Web
            Animation and Multimedia Design, Website Design Principles, Desktop Publishing Fundamentals</p>
        </article>

        <article>
          <h3><strong>Independent Coursework</h3>
          <ul class="coursework">
            <li><%= image_tag("book.svg", :alt => "Book Shared Bullet", class:"bullet") %>Guiding UX Principles Extended</li>
            <li><%= image_tag("book.svg", :alt => "Book Shared Bullet", class:"bullet") %>Presenting Ideas</li>
            <li><%= image_tag("book.svg", :alt => "Book Shared Bullet", class:"bullet") %>Computational Arts</li>
            <li><%= image_tag("book.svg", :alt => "Book Shared Bullet", class:"bullet") %>Scrum and Agile Methodologies</li>
          </ul>
        </article>
      </section>
    </div>

    <div class="skills">
      <h2 class="bar">Skills</h2>
      <section>
        <article class="clear">
          <ul class="tags">
            <li><span class="tag">Web Design</span></li>
            <li><span class="tag">Application Design</span></li>
            <li><span class="tag">Web Development</span></li>
            <li><span class="tag">Wireframing</span></li>
            <li><span class="tag">User Experience Design</span></li>
            <li><span class="tag">User Interface</span></li>
            <li><span class="tag">Heuristics</span></li>
            <li><span class="tag">Visual Design</span></li>
            <li><span class="tag">User Research</span></li>
            <li><span class="tag">User Testing</span></li>
            <li><span class="tag">Sketching</span></li>
            <li><span class="tag">Emotional Design</span></li>
            <li><span class="tag">Rapid Protoyping</span></li>
            <li><span class="tag">Typography</span></li>
            <li><span class="tag">Agile Methodologies</span></li>
            <li><span class="tag">Email Marketing</span></li>
            <li><span class="tag">Social Media</span></li>
            <li><span class="tag">Project Management</span></li>
            <li><span class="tag">Responsive Design</span></li>
            <li><span class="tag">Design Direction</span></li>
            <li><span class="tag">Human Computer Interaction</span></li>
          </ul>
      </section>

      <h2 class="bar tagbar">Applications</h2>
      <section>
        <article class="clear">
          <ul class="tags">
            <li><span class="tag">Pivotal Tracker</span></li>
            <li><span class="tag">Axure</span></li>
            <li><span class="tag">Jira</span></li>
            <li><span class="tag">Sketch</span></li>
            <li><span class="tag">Photoshop</span></li>
            <li><span class="tag">Illustrator</span></li>
            <li><span class="tag">Git</span></li>
            <li><span class="tag">Terminal</span></li>
            <li><span class="tag">Text Editors</span></li>
            <li><span class="tag">CSS3</span></li>
            <li><span class="tag">HTML5</span></li>
            <li><span class="tag">Javascript</span></li>
            <li><span class="tag">Sass</span></li>
            <li><span class="tag">JQuery</span></li>
          </ul>
        </article>
      </section>
    </div>
  </div>

  <a name="a_portfolio"></a>
  <div id="portfolio" class="section3 content area">
    <div class="title">
      <p>Click below to view the case study</p>
    </div>

    <div id="case-studies">
      <a href="/projects/fuze.html">
        <div class="case type square fadein">
          <div class="thumb">
            <%= image_tag '/images/clients/fuze.svg', class: "fuze" %>
          </div>
          <div class="description">
            <p>
              Fuze is a collaboration product that integrates HD audio and video meetings with rich content sharing. I was
              tasked to help recreate Fuze from the ground up by working directly with a team of product managers and developers
              (local and remote) on a variety of platforms. An undertaking that required not only getting
              close with users but also working with the development team to ensure the success of the apps.
            </p>
          </div>
        </div>
      </a>

      <a href="/projects/vulume.html">
        <div class="case type square">
          <div class="thumb vulume">
            <%= image_tag '/images/clients/vulume.svg', class: "vulume" %>
          </div>
          <div class="description">
            <p> Vulume is a project collaboration, sharing, and discovery tool for the Built Environment, working to transform the way
              architects and designers collaborate and work with clients and contractors. Their target user group's work style was
              set in the old ways of physical documents, on-site meetings, and endless email chains -- we aimed to disrupt that.
            </p>
          </div>
        </div>
      </a>

      <a href="/projects/htf.html">
        <div class="case type square">
          <div class="thumb">
            <%= image_tag '/images/clients/htf.svg', class: "htf" %>
          </div>
          <div class="description">
            <p> Hack the Future is a series of self-directed hackathons for future hackers from 5th-12th grade.
              It’s a unique opportunity for youngsters to learn modern software and hardware engineering from mentors in bay
              area startups and companies. I handled the creation of branding the event as well as serve
              as a design mentor for the kids. </p>
          </div>
        </div>
      </a>

      <div class="case type square disabled">
        <div class="thumb">
          <%= image_tag '/images/clients/amoeba.svg', class: "amoeba" %>
        </div>
        <div class="description">
          <p>
            Amoeba was a startup I founded with some engineer and business savvy friends. We assisted early stage
            startups with making their products a reality - essentially a startup for startups.
            <em>(Case study coming soon)</em>
          </p>
        </div>
      </div>

      <div class="case type square disabled">
        <div class="thumb">
          <%= image_tag '/images/clients/exumit.svg', class: "exumit" %>
        </div>
        <div class="description">
          <p>
            Exumit is a disruptive social network that consists of an entirely anonymous user base of salespeople across the US and Canada.
            It's goal is to share the insider information required for selling to companies - think Glassdoor for sales people.
            <em>(Case study coming soon)</em>
          </p>
        </div>
      </div>

      <div class="case type square disabled">
        <div class="thumb">
          <%= image_tag '/images/clients/keiser.svg', class: "keiser" %>
        </div>
        <div class="description">
          <p>
            Keiser was my first gig right out of school. As the sole designer, the tasks I worked on were varied
            and targeted a range of personas - from performance athletes to the frail and elderly. It was really challenging
            but a lot of fun.
            <em>(Case study coming soon)</em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <a name="a_contact"></a>
  <div id="contact" class="section4 content area">
    <div class="content">
      <header>
        <h1 class="bar"><strong>Let's Connect</strong></h1>
        <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
        <h2 class="bar email">richardenlow@gmail.com</h2></a>
        <div class="social">
          <a href="https://twitter.com/startexploding" target="_blank"><h3 class="bar"> <i class="icon-twitter-sign"></i></h3></a>
          <a href="http://www.linkedin.com/in/richardenlow/" target="_blank"><h3 class="bar"> <i class="icon-linkedin-sign"></i></h3></a>
          <a href="http://instagram.com/startexploding" target="_blank"><h3 class="bar"> <i class="icon-instagram"></i></h3></a>
        </div>
      </header>
    </div>
  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>