<body>
  <div id="root" class="section1 content area">
    <div class="intro">
      <header>
          <div class="title">
            <%= image_tag '/images/circleme2@2x.png', class: "me in a circle frame" %>
            <div class="line-one"><h1>Hello,<strong>I'm Richard</strong></h1></div>
            <div class="line-two"><h2>Product Designer and Design Leader</h2></div>
          </div>
      </header>
      <div class="bio">
        <p>I'm a Product Designer, specializing in User Experience (UX) and Interaction Design (IxD) with a firm grasp of Visual and User Interface Design.  I'm currently designing products at the software development consultancy <a href="http://pivotal.io/" target="_blank"> Pivotal Labs</a>, where I help advocate and inject thoughtful design into Agile development. I revel in the design process and love collaborating with smart folks to deliver great products that are useful and delightful. </p>

        <p>In addition to design, I have a passion for new technologies, learning, and discovery. In
        my spare time, you can find me at shows (I'm a huge music fan), making <a href="http://www.meetfutureme.com" target="_blank">things</a> in code, or chaperoning my dog
        <a href="http://instagram.com/ohiathedog" target="_blank"> (she's a party animal).</a></p>
      </div>
    </div>
  </div>

  <a name="a_portfolio"></a>
  <div id="portfolio" class="section2 content area">
    <div class="title">
      <h2>Some Projects I'm Proud of</h2>
    </div>
    <div id="case-studies">
      <a href="/projects/nissan.html">
        <div class="case type square disabled">
          <div class="thumb">
            <%= image_tag '/images/clients/nissan.svg', class: "nissan" %>
          </div>
          <div class="description">
            <p>
              Working with Nissan and in collaboration with NASA, our team worked to create the future of autonomous mobility. The project leveraged Mars rover technology to allow new instructions to be provided to Autonomous Vehicles in trouble. This new information would then be shared out to the network of vehicles, training them all - a major step forward in self driving vehicles. The work premiered as CES 2017.
              <em>See More Info</em>
            </p>
          </div>
        </div>
      </a>
      
      <a href="/projects/mercedes.html">
        <div class="case type square disabled">
        <div class="thumb">
          <%= image_tag '/images/clients/benz.svg', class: "benz" %>
        </div>
        <div class="description">
          <p>
            Daimler AG, makers of the Mercedes-Benz, asked us to explore the transition to and from driving in a connected world. One of the first ever connected car projects, it premiered at Frankfurt Motor Show.
            <em>See More Info</em>
          </p>
        </div>
      </div>
      </a>
      
      <a href="/projects/fuze.html">
        <div class="case type square fadein">
          <div class="thumb">
            <%= image_tag '/images/clients/fuze.svg', class: "fuze" %>
          </div>
          <div class="description">
            <p>
              Fuze is a collaboration tool for desktop, mobile, and web that combines HD audio and video with content sharing, screen share and chat. We were tasked to help build the next iteration of the software across desktop, web, and mobile to help change the way organizations communicate in a digital world.
              <em>See More Info</em>
            </p>
          </div>
        </div>
      </a>
      
      <a href="/projects/vulume.html">
        <div class="case type square">
          <div class="thumb vulume">
            <%= image_tag '/images/clients/vulume.svg', class: "vulume" %>
          </div>
          <div class="description">
            <p> Vulume is a project collaboration, sharing, and discovery tool for the built enviroment (architects, interior designers, etc). Together we worked to transform the way these professionals collaborate with their clients and contractors.
              <em>See More Info</em>
            </p>
          </div>
        </div>
      </a>
      
      <a href="/projects/htf.html">
        <div class="case type square">
          <div class="thumb">
            <%= image_tag '/images/clients/htf.svg', class: "htf" %>
          </div>
          <div class="description">
            <p> Hack the Future is a unique opportunity for youth to learn modern software engineering, robotics, product design, game development, and more from mentors from Silicon Valley technology companies. I handled the creation of branding for the organization as well as serve as a design mentor.
              <em>See More Info</em>
            </p>
          </div>
        </div>
      </a>

      <div class="case type square disabled">
        <div class="thumb">
          <%= image_tag '/images/clients/harley.svg', class: "harley" %>
        </div>
        <div class="description">
          <p>
            Iconic motorcycle company, Harley Davidson, approached us with a task: how can we use technology to increase rider engagement and  "get more butt on bikes". Incorporating Lean Startup methods, we explored multiple paths forward to craft an app that users found useful and delightful.
            <em>Available By Request</em>
          </p>
        </div>
      </div>

    </div>
  </div>
  
  <a name="a_contact"></a>
  <div id="contact" class="section4 content area">
    <div class="content">
      <header>
        <h1 class="bar"><strong>Let's Connect</strong></h1>
        <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
        <h2 class="bar email">richardenlow@gmail.com</h2></a>
        <div class="social">
          <a href="https://twitter.com/startexploding" target="_blank"><h3 class="bar"> <i class="icon-twitter-sign"></i></h3></a>
          <a href="http://www.linkedin.com/in/richardenlow/" target="_blank"><h3 class="bar"> <i class="icon-linkedin-sign"></i></h3></a>
          <a href="http://instagram.com/startexploding" target="_blank"><h3 class="bar"> <i class="icon-instagram"></i></h3></a>
        </div>
      </header>
      <span class="caption">Day Flies, made with <a href="http://www.meetfutureme.com" target="_blank">p5.js</a>. More experiments: <a href="http://www.meetfutureme.com">meetfutureme.com</a></span>
    </div>
  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>
<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>
<script>
  $(document).foundation();
</script>