<body id="portfolio">
  <!--<div class="title">-->
    <!--<h1 class="bar"><strong>Projects</strong></h1>-->
  <!--</div>-->

  <div id="case-studies">

    <a href="/projects/fuze.html">
      <div class="case type square fadein">
        <div class="thumb">
          <%= image_tag '/images/clients/fuze.svg', class: "fuze" %>
        </div>
        <div class="description">
          <p>
            Fuze is a collaboration product that integrates HD audio and video meetings with rich content sharing. I was
            tasked to help recreate Fuze from the ground up by working directly with a team of product managers and developers
            (local and remote) from a variety of platforms. A hugely challenging undertaking that required not only getting
            close with users but also working with the development team to ensure the success of the apps. This is it's story.
          </p>
        </div>
      </div>
    </a>

    <a href="/projects/vulume.html">
      <div class="case type square">
        <div class="thumb vulume">
          <%= image_tag '/images/clients/vulume.svg', class: "vulume" %>
        </div>
        <div class="description">
            <p> Vulume is a project collaboration, sharing, and discovery tool for the Built Environment, working to transform the way
              architects and designers work and collaborate with clients and contractors. Their target user groups work style was
              set in the old ways of physical documents, on-site meetings, and endless email chains -- we aimed to disrupt that.
              injecting digital tools to perform tasks better and faster than they ever could before.
            </p>
        </div>
      </div>
    </a>

    <a href="/projects/htf.html">
      <div class="case type square">
        <div class="thumb">
          <%= image_tag '/images/clients/htf.svg', class: "htf" %>
        </div>
        <div class="description">
          <p> Hack the Future is a series of self-directed hackathon party for future hackers from 5th-12th grade. And,
            it’s a unique opportunity to learn modern software and hardware design and engineering from mentors in bay
            area startups and companies large and small. I handled the creation of branding around the event as well serve
            as a design mentor for the kids. </p>
        </div>
      </div>
    </a>

    <div class="case type square disabled">
      <div class="thumb">
        <%= image_tag '/images/clients/amoeba.svg', class: "amoeba" %>
      </div>
      <div class="description">
        <p>
          Amoeba is a startup I founded with some engineering friends and a business savvy
          colleague. We assisted early stage startups into making their products a reality - essentially a startup for
          startups (how meta).
          <em>(Case study coming soon)</em>
        </p>
      </div>
    </div>

    <div class="case type square disabled">
      <div class="thumb">
        <%= image_tag '/images/clients/exumit.svg', class: "exumit" %>
      </div>
      <div class="description">
        <p>
          Exumit is like no other. It's a social network consisting on entirely anonymous
          participants. It's goal is the peel the curtain back and get insights into selling to companies -- think
          Glassdoor for sale people. It was disruptive, it was a challenge, and introduced me to the mind of a salesperson,
          and what an interesting mind that is.
          <em>(Case study coming soon)</em>
        </p>
      </div>
    </div>

    <div class="case type square disabled">
      <div class="thumb">
        <%= image_tag '/images/clients/keiser.svg', class: "keiser" %>
      </div>
      <div class="description">
        <p>
          At Keiser wore enough hats to keep a small neighborhood's head warn through winter,
          it was a lot of fun! Not only were the tasks varied but our personas literally spanned from the elite performance
          and working with Pro Sports teams to the very frail and elderly and working with assisted living centers.
          <em>(Case study coming soon)</em>
        </p>
      </div>
    </div>

    <!--<div class="case type square">-->
    <!--<div class="thumb">-->
    <!--<%= image_tag '', class: "bb" %>-->
    <!--Book Bits-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--<p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its-->
    <!--four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling-->
    <!--salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and-->
    <!--housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright,-->
    <!--raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to-->
    <!--look out the window at the dull weather. </p>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="case">-->
    <!--<div class="thumb type square">-->
    <!--<%= image_tag '/images/clients/icc.svg', class: "icc" %>-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--<p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its-->
    <!--four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling-->
    <!--salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and-->
    <!--housed in a nice, gilded frame. </p>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>