<body id="portfolio">
  <!--<div class="title">-->
    <!--<h1 class="bar"><strong>Projects</strong></h1>-->
  <!--</div>-->

  <div id="case-studies">

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/fuze.svg', class: "fuze" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
          <span class="text-link"><a href="#">See Details</a> </span>
      </div>
    </div>

    <!--<div class="case type square">-->
      <!--<div class="thumb">-->
        <!--<%= image_tag '', class: "bb" %>-->
        <!--Book Bits-->
      <!--</div>-->
      <!--<div class="description">-->
        <!--<p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its-->
          <!--four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling-->
          <!--salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and-->
          <!--housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright,-->
          <!--raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to-->
          <!--look out the window at the dull weather. </p>-->
      <!--</div>-->
    <!--</div>-->

    <div class="case">
      <div class="thumb type square">
        <%= image_tag '/images/clients/icc.svg', class: "icc" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
        <span class="text-link"><a href="#">See Details</a> </span>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/keiser.svg', class: "keiser" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
        <span class="text-link"><a href="#">See Details</a> </span>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/amoeba.svg', class: "amoeba" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
        <span class="text-link"><a href="#">See Details</a> </span>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/exumit.svg', class: "exumit" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
        <span class="text-link"><a href="#">See Details</a> </span>
      </div>

    </div>

    <div class="case type square">
      <div class="thumb vulume">
        <%= image_tag '/images/clients/vulume.svg', class: "vulume" %>
      </div>
      <div class="description">
      <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
        four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
        salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
        housed in a nice, gilded frame. </p>
        <span class="text-link"><a href="#">See Details</a> </span>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/htf.svg', class: "htf" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
        <span class="text-link"><a href="#">See Details</a> </span>
      </div>
    </div>
  </div>