<body id="portfolio">
  <!--<div class="title">-->
    <!--<h1 class="bar"><strong>Projects</strong></h1>-->
  <!--</div>-->

  <div id="case-studies">

    <div class="case type square fadein">
      <div class="thumb">
        <%= image_tag '/images/clients/fuze.svg', class: "fuze" %>
      </div>
      <div class="description">
       <a href="/projects/fuze.html">
        <p>
          Fuze is a collaboration product that integrates HD audio and video meetings with rich content sharing. I was
          tasked to help recreate Fuze from the ground up by working directly with a team of product managers and developers
          (local and remote) from a variety of platforms. A hugely challenging undertaking that required not only getting
          close with users but also working with the development team to ensure the success of the apps. This is it's story.
        </p>
       </a>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb vulume">
        <%= image_tag '/images/clients/vulume.svg', class: "vulume" %>
      </div>
      <div class="description">
        <a href="/projects/vulume.html">
          <p> Vulume is a project collaboration, sharing, and discovery tool for the Built Environment, transforming the way
            architects, contractors, and designers collaborate. the app incorporated functionality</p>
        </a>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/htf.svg', class: "htf" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/amoeba.svg', class: "amoeba" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/exumit.svg', class: "exumit" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
      </div>
    </div>

    <div class="case type square">
      <div class="thumb">
        <%= image_tag '/images/clients/keiser.svg', class: "keiser" %>
      </div>
      <div class="description">
        <p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its
          four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
          salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and
          housed in a nice, gilded frame. </p>
      </div>
    </div>

    <!--<div class="case type square">-->
    <!--<div class="thumb">-->
    <!--<%= image_tag '', class: "bb" %>-->
    <!--Book Bits-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--<p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its-->
    <!--four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling-->
    <!--salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and-->
    <!--housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright,-->
    <!--raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to-->
    <!--look out the window at the dull weather. </p>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="case">-->
    <!--<div class="thumb type square">-->
    <!--<%= image_tag '/images/clients/icc.svg', class: "icc" %>-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--<p> It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its-->
    <!--four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling-->
    <!--salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and-->
    <!--housed in a nice, gilded frame. </p>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>